


.heading                            
{
    background: blue;
    color: white;
    padding: 0.1px 10px;
    border-bottom: 2px solid black;
}
.heading header a             /*for KUMAVAT top of page*/
{
    text-decoration: none;
    color: white;
    font-style: unset
}
.heading header h2             /*for The path of Success top of page*/
{
    color: white;
    font-style: italic;
}





/* For Home start here*/

.Home
{
    color: black;
    background-color: honeydew;
    padding-left: 220px;
}
.h3
{
    color: black;
    background-color: honeydew;
    padding-left: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
}

/*For home end here*/





/* AdmissionSuccessfully start from here */

.Submission
{
    text-align: center;
    color: black;
    background: honeydew;
    padding: 20px;
}

/* End of AdmissionSuccessfully */






/* ChangePassword start from here */

.ChangePassword
{
    text-align: center;
    height: 250px;
    color: black;
    background: honeydew;
    padding: 20px;
}

/* End of ChangePassword */





/* TruePassChange start here */

.Successfully                                    
{
    text-align: center;
    color: green;
    padding: 20px;
    margin-top: auto;
}
.Successfully h3 a
{
    text-decoration: none;
    color: green;
}

/* End of TruePassChange */





/* FalsePassChange start from here */

.Retry                                      
{
    text-align: center;
    color: red;
    padding: 20px;
    margin-top: auto;
}
.Retry h3 a
{
    text-decoration: none;
    color: red;
}

/*End of FalsePassChange*/





/* UpdateStuAttendance start from here */

.UpdateAttendance
{
    text-align: center;
}

/* End of UpdateStuAttendance */






.Buttom
{
    background: blue;
    color: white;
    text-align: center;
    padding: 30px 15px 2px 15px;
}
.Follow a
{
    text-decoration: none;
    color: white;
}

.Address
{
    width: 99%;
}
.Address1
{
    float: left;
    width: 32%;
}
.Address2
{
    display: inline-block;
    margin: 0 auto;
    width: 32%;
}
.Address3
{
    float: right;
    width: 32%;
}
